<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spradhan-iot-azfun.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/75917ab0-74e0-451f-b332-caeb57dc5cf6/resourceGroups/spradhan-rg/providers/Microsoft.Web/sites/spradhan-iot-azfun</ResourceId>
    <UserName>$spradhan-iot-azfun</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://spradhan-iot-azfun.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>